@model App.TFinal.Models.Pelicula

<h3>Esta seguro de eliminar el registro?</h3>
<div>
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdGenero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdGenero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdEstadoPelicula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdEstadoPelicula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sipnosis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sipnosis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>


    @using (Ajax.BeginForm("Delete", new
    {
        Controller = "Pelicula"
    },
     new AjaxOptions
     {
         HttpMethod = "POST",
         InsertionMode = InsertionMode.Replace,
         UpdateTargetId = "modal-body",
         OnSuccess = "pelicula.success('delete');"
     },
     htmlAttributes: new
     {
         id = "deleteForm"
     }
     ))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-info" />
        </div>
    }

</div>
