@model App.TFinal.Models.BDGXXXXENTI1


<div>
    <h4>BDGXXXXENTI1</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.E1_CODENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.E1_CODENT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.E1_TIPO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.E1_TIPO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.E1_DESENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.E1_DESENT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.E1_APEPAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.E1_APEPAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.E1_APEMAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.E1_APEMAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.E1_NOMBRE1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.E1_NOMBRE1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.E1_NOMBRE2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.E1_NOMBRE2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.E1_ORIG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.E1_ORIG)
        </dd>

        </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
