@*@model IEnumerable<App.TFinal.Models.BDGXXXXENTI1>

    @{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.E1_CODENT)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_TIPO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_DESENT)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_APEPAT)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_APEMAT)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_NOMBRE1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_NOMBRE2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_ORIG)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_TIPPER)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_TIPDOC)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_CODDOC)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_CODGRUP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_AGEN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_CTIPCTA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_CNUMCTA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_CMNDCTA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_CDESCTA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_CCTA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_CODDET)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_CODPER)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_TASA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_ESTADO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_TIPCONT)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_ENTFIN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_ZONA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_CLASCLI)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_PAGWEB)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_MAIL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_CONTACTO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_TELEFONO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_CODVEN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_MODFOR)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_USCOD)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_FECCRE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_USMOD)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_FECMOD)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_CONDVTA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_PEN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_TASDSCTO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_CTIPA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_NUMAC)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_PORT)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_ESTOP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_FECAPART)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_FECAPAR)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_FECAPBC)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_CONDPGO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_COVEDT)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_DIAVIS)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_USIMG)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1_FECMIG)
                </th>
                <th></th>
            </tr>

        @foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.E1_CODENT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_TIPO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_DESENT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_APEPAT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_APEMAT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_NOMBRE1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_NOMBRE2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_ORIG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_TIPPER)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_TIPDOC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_CODDOC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_CODGRUP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_AGEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_CTIPCTA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_CNUMCTA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_CMNDCTA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_CDESCTA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_CCTA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_CODDET)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_CODPER)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_TASA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_ESTADO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_TIPCONT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_ENTFIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_ZONA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_CLASCLI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_PAGWEB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_MAIL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_CONTACTO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_TELEFONO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_CODVEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_MODFOR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_USCOD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_FECCRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_USMOD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_FECMOD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_CONDVTA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_PEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_TASDSCTO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_CTIPA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_NUMAC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_PORT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_ESTOP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_FECAPART)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_FECAPAR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_FECAPBC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_CONDPGO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_COVEDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_DIAVIS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_USIMG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1_FECMIG)
            </td>
                <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.E1_CODENT }) |
                @Html.ActionLink("Details", "Details", new { id = item.E1_CODENT }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
        }

        </table>
    </body>
    </html>*@


@model IEnumerable<App.TFinal.Models.BDGXXXXENTI1>

@*@{
        ViewBag.Title = "Index";
    }*@

<h2>Mantenimiento de Entidades</h2>
@Messages.Message("createMessage", "Nuevo", "success", "El registro se creó satisfactoriamente")
@Messages.Message("deleteMessage", "Eliminar", "danger", "El registro se eliminó satisfactoriamente")
@Messages.Message("editMessage", "Editar", "primary", "El registro se editó satisfactoriamente")

<p>
    <a href="#" onclick="appVentas.getModal('@Url.Action("Create")');" data-toggle="modal"
       data-target="#modal-container" class="btn btn-success">
        <span class="fa fa-plus"></span> Crear Entidad
    </a>
</p>




@Html.Partial("_List")

@Modal.GetModal("Mantenimiento de Entidades")

<!--Data Table-->
<script src="~/Content/templates/default/vendor/datatables/jquery.dataTables.js"></script>
<script src="~/Content/templates/default/vendor/datatables/dataTables.bootstrap4.js"></script>


<script src="~/App_JS/appVentas.js" type="text/javascript"></script>
<script src="~/App_JS/categoria.js" type="text/javascript"></script>