@{
    string sala = "";
    string titulo = "";
    int codcart = 0;
}
<div class="table-responsive">
    <form>
        <div>
            <div>
                @foreach (var item in ViewData["ListaCartelera"] as IEnumerable<App.TFinal.Models.ListaPelicula>)
                {
                    if (titulo != item.Titulo)
                    {
                        <div>
                            <label>Pelicula:</label>
                            <label id="titulo"> @item.Titulo</label>
                            <input id="idpelicula" type="text" class="form-control" placeholder="Cantidad" value="@item.Id" hidden />
                        </div>
                        <div>
                            <label>Genero:</label>
                            <label> @item.nombregenero</label>
                        </div>


                        titulo = @item.Titulo;
                    }
                }

                <div>
                    <label>Cantidad de Entradas:</label>
                    <input id="cantidad" type="text" class="form-control" placeholder="Cantidad" />
                </div>

                @foreach (var item in ViewData["ListaCartelera"] as IEnumerable<App.TFinal.Models.ListaPelicula>)
                {

                    if (sala != item.Descripcion)
                    {
                        <div>
                            <label>Tipo Sala:</label>
                            <label> @item.Descripcion</label>
                        </div>


                        sala = @item.Descripcion;
                    }

                    <div class="form-check form-check-inline">
                        <input type="radio" class="btn-check" name="options" id="horario" value="@item.IdSala-@item.IdCartelera-@item.Precio" onchange="calcx()">
                        <label class="btn btn-secondary" for="@item.IdSala">@item.HorarioInicio</label>

                    </div>

                    <label class="btn btn-primary" name="precio" id="precio" value="@item.Precio">S/ @item.Precio</label>

                    <label class="btn btn-primary" name="precio" id="precio" value="@item.Precio">S/ @item.Precio</label>

                }

                <div class="row">
                    <div>
                        <a href="#" class="btn btn-primary " onclick="lisa.searchByFilter()">
                    Comprar Entradas
                </a>
                        @*<a href="#" onclick="appVentas.getModal('@Url.Action("Create", "Pago", new {id=3})');" data-toggle="modal"
                           data-target="#modal-container" class="btn btn-primary">
                            Comprar Entradas
                        </a>*@
                    </div>

                </div>
            </div>



                    <script languaje="javascript">

                        function calcx() {
                          
                        //    var peliculaId =document.getElementById("idpelicula");
                        //    var peliculaName = document.getElementById("horario");
                        //    var peliculaId = document.getElementById("cantidad");
                        //    console.log(peliculaId.nodeValue + '---' + peliculaName);
                           
                        }


                    </script>


                </div>


    </form>




</div>